ForwardX11 no

Host arc-05
Hostname ners-arc-05.engin.umich.edu
ProxyCommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p

Host nuram
#Hostname arphys0.miserver.it.umich.edu
Hostname code-nuram.miserver.it.umich.edu
ProxyCommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p

Host sunspear
Hostname sunspear.engin.umich.edu
User aarograh
ProxyCommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p

Host nightfort
Hostname nightfort.engin.umich.edu
User aarograh
ProxyCommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p

Host dtn
Hostname dtn.ccs.ornl.gov
User grahama

Host titan
Hostname titan.ccs.ornl.gov
User grahama

Host hpclogin
User grahaaro
Hostname hpclogin.inl.gov
ProxyCommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p
LocalForward 8522 hpcgitlab.inl.gov:22
LocalForward 8582 hpcgitlab.inl.gov:443
ForwardX11 yes

Host inlgit
HostName localhost
HostKeyAlias hpcgitlab.inl.gov
Port 8522
User git

Host github
Hostname github.com
User git
ProxyCommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p

Host bitbucket
Hostname bitbucket.org
User git
ProxyCommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p

Host panacea
Hostname mod-slurm-login
User ag6

Host inspect
Hostname inspect.ornl.gov
User i45705

Host ross
Hostname ross-login
User ag6

#Host anl-gitlab
#Hostname xgitlab.cels.anl.gov
#Proxycommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p
Host anl-gitlab
Hostname git-nse.egs.anl.gov
User git
Proxycommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p

Host github.inl.gov
User git
Proxycommand /usr/local/bin/corkscrew snowman.ornl.gov 3128 %h %p
