Host arc-05
Hostname ners-arc-05.engin.umich.edu
User aarograh
ProxyCommand corkscrew snowman.ornl.gov 3128 %h %p

Host sunspear
Hostname sunspear.engin.umich.edu
User aarograh
ProxyCommand corkscrew snowman.ornl.gov 3128 %h %p

Host nightfort
Hostname nightfort.engin.umich.edu
User aarograh
ProxyCommand corkscrew snowman.ornl.gov 3128 %h %p

Host dtn
Hostname dtn.ccs.ornl.gov
User grahama

Host titan
Hostname titan.ccs.ornl.gov
User grahama

Host hpclogin
Hostname hpclogin.inel.gov
User grahaaro
ProxyCommand corkscrew snowman.ornl.gov 3128 %h %p

Host github
Hostname github.com
ProxyCommand corkscrew snowman.ornl.gov 3128 %h %p

Host panacea
Hostname mod-condo-login
User ag6

Host inspect
Hostname inspect.ornl.gov
User i45705

Host ross
Hostname ross-login
User ag6
